<tr>
  <td>
    <%= f.input :content, label: 'Answer', input_html: { class: 'answer' }  %>
    <%= f.input :question_id, as: "hidden" %>
  </td>
  <td>&nbsp;</td>
  <td>
    <%= f.input :correct, as: :boolean, label: false, inline_label: 'Correct?' %>
    <%= f.input :_destroy, as: :boolean, label: false, inline_label: 'Delete?' %>
  </td>
</tr> 