<div class="well">
  <div class="section-header">
    New question
    <hr/>
  </div>  
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>