<div class="table-responsive question-remarks">
  <table class="table">
    <tr>
      <td class="header"><i class="<%= Icon::INFO %>"></i>Additional Information</td>
    </tr>
    <tr>
      <td>
        <%= markdown(@quiz_taking_form.graded_question.remarks) %>
      </td>
    </tr>
  </table>
</div>