<div>
  <%= render  :partial => "full_error_messages", 
              :locals => { :@form => @presenter } %>

  <p class="quiz_event_result_header">
    You have completed the quiz!
  </p>

  <p class="quiz_event_result_body">
     <%= @presenter.quiz_result %><br/>
  </p>
</div>
