<% if @quiz_form.show_graded_question? %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">  
      <%= render 'graded_question' %>
    </div>
  </div>
<% end %>

<% if @quiz_form.quiz_completed? %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">  
      <%= render 'result' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">  
      <%= render 'question_form' %>
    </div>
  </div> 
<% end %>

