<div class="section-header">
  Questions
  <%= link_to new_question_path(quiz_id: @quiz.id), 
      class: 'btn btn-primary pull-right btn-sm add-question' do %>
      <i class="glyphicon glyphicon-plus glyphicon-white"></i>
      Add Question
  <% end %>
  <hr/>
</div>

<%  if @quiz.questions.empty? then %>
  <p>
    Add at least one question and then you can publish your quiz 
    so that others can take it.
  </p>
<% else %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <td><span class="field-title">Question</span></td>
        <td><span class="field-title">Answer</span></td>
        <td colspan="3"></td>
      </thead>
      <tbody>
        <%= render @quiz.questions %>
      </tbody>
    </table>
  </div>
<% end %>
<%= javascript_tag "$('.add-question').focus()" %>