<ul class="breadcrumb">
  <li><%= link_to 'My Quizzes', quizzes_path %></li>
  <li class="active">New Quiz</li>
</ul>

<div class="well">
  <div class="section-header">
    New quiz
    <hr/>
  </div>  
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= render 'form' %>
    </div>
  </div>
</div>