<div class="home-header">
  <h3><%= link_to "Quizzes Taken", quiz_events_path %></h3>
</div>


<% if @quiz_events.empty? %>
  <p>
    You haven't taken any quizzes yet. Go ahead. Don't be shy. No one else can see your results.
  </p>  
<% else %>
  <p>Here are the quizzes you've written so far:</p>
  <table class="table input-table">
  <% @quiz_events.each do |event| %>
    <tr>
      <td>
        <%= link_to event.quiz.name, quiz_event_path(event), class: "index-link" %>
      </td>
    </tr>
    <% end %>  
    <tr>
      <td>
        <% if @num_remaining_events > 0 %>
          <%= link_to "... and #{@num_remaining_events} more", quiz_events_path, class: "small pull-right" %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>