<%= provide(:title, 'About') %>

<div class="jumbotron">
  <h3>About <span class="app_name">QuizNerd</span></h3>
  <hr/>
  <br/>
  <div class="static_text">The QuizNerd application is a project I created in order to practice
   (and demonstrate) my software development skills. It uses the following:
    <br/>
    <br/>
    <ul>
   		<li>Ruby 2.1.1</li>
   		<li>Rails 4.1</li>
   		<li>Sass</li>
   		<li>RSpec</li>
   		<li>jQuery</li>
   		<li>MySql in development and test</li>
   		<li>Postgres in production</li>
   		<li>Twitter Bootstrap</li>
   		<li>SimpleForm</li>
   	</ul>
  </div>
</div>

