<%= provide(:title, 'Contact') %>

<div class="center jumbotron">
  <h3>Contact</h3>
  <hr/>
  <br/>
  <div class="static_text">
    Contact me at <a href="mailto:quiznerd@yahoo.com">quiznerd@yahoo.com</a>
  </div>
</div>