<%= provide(:title, 'Contact') %>

<div class="center jumbotron">
  <h3>Contact</h3>
  <hr/>
  <div>
    <%= mail_to "quiznerd@yahoo.com" do %>
      Contact me at: <span>quiznerd@yahoo.com</span>
    <% end %>
  </div>
</div>