<%= provide(:title, '') %>

<div class="jumbotron">
  <h2>Welcome to <span class="app_name">QuizNerd</span></h2>
  <h3>Make quizzes! Take quizzes! Get your nerd on! </h3>
  <br/>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> 
</div>