<div class="well">
  <div class="section-header">
    Search
    <hr/>
    <%= form_tag search_create_path, :method => :post do %>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil  %>
    </p>
<% end %>
  </div>  
</div>