 <!-- Shared view for things that have tags, e.g. Cheatsheets, Decks -->
 <div class="tag-well">
    <div class="well">
     <p>
         Or filter by Tag:
          <% tag_names.sort.each do |name| %>
            <%= link_to name, self.send(tag_path,name), class: "index-link" %>&nbsp;&nbsp;
          <% end %>
      </p>    
    </div>
</div>