<tr>
  <td><%= link_to cheatsheet.title, 
            cheatsheet_path(cheatsheet), 
            class: "index-link" %>
  </td>
  <td><%= cheatsheet.tag_list %></td>
  <td><%= link_to 'edit', 
            edit_cheatsheet_path(cheatsheet), 
            class: "index-link" %>
  </td>
  <td><%= link_to 'destroy', cheatsheet, 
            method: :delete, 
            data: { confirm: 'Are you sure?' }, 
            class: "index-link delete-link" %>
  </td>
</tr>