<tr>
  <td><%= link_to cheatsheet.title, 
            cheatsheet_path(cheatsheet), 
            class: "index-link" %>
  </td>
  <td><%= cheatsheet.tag_list %></td>
  <td><%= link_to '', 
            edit_cheatsheet_path(cheatsheet),
            id: "edit-link", 
            class: "index-link #{Icon::EDIT}"  %>
  </td>
  <td><%= link_to '', cheatsheet, 
            method: :delete, 
            id: "delete-link",
            data: { confirm: 'Are you sure?' }, 
            class: "index-link delete-link #{Icon::DELETE}" %>
  </td>
</tr>