<div class="panel panel-home panel-default">
  <div class="panel-heading home-panel-header panel-pink">
    <div class="panel-title home-panel-title">
        Cheatsheets
        <span class="badge pull-right">
            <%= @dash.cheatsheets_count %>
         </span>
    </div>
  </div>
  <div class="panel-body">
    <% if @dash.cheatsheets.empty? %>
      <p>Cheatsheets can be big or small. They can be a long set of notes from a class or a brief set of commands to remember.</p>
      <p>In addition to naming your cheatsheet, you can tag them with a key word to 
      make finding them even easier when you need them.  </p>
      <br/><br/><br/><br/> 
    <% else %>
      <p>Here are the last few Cheatsheets you wrote:</p>
      <%= render 'static_pages/signed_in_home/cheatsheet_list' %>  
    <% end %>
     <div class="col-md-offset-3"> 
        <%= link_to "Add Cheatsheet", new_cheatsheet_path, class: "btn btn-primary btn-large" %>
      </div>
  </div>
</div>



