<div class="panel panel-home panel-default">
  <div class="panel-heading home-panel-header panel-orange">
    <div class="panel-title home-panel-title">
      <%= link_to "Take Quizzes", quiz_events_path %>
    </div>
  </div>
  <div class="panel-body">
    <% if @dash.quiz_events.empty? %>
    <p>
      You haven't taken any quizzes yet. Go ahead. Don't be shy. No one else can see your results.
    </p>  
    <p>
      You can save your results and see your progress over time or delete them 
      when you are done with a quiz.
    </p>
    <br/><br/><br/><br/>
    <% else %>
      <p>Here are the quizzes you've taken so far:</p>
      <%= render 'static_pages/signed_in_home/quiz_event_list' %>
      
    <% end %>
    <div class="col-md-offset-2">
        <%= link_to "Browse all Quizzes", 
              search_path, 
              class: "btn btn-primary btn-large" 
        %>
    </div>
  </div>
</div>
