<div class="panel panel-home panel-default">
  <div class="panel-heading home-panel-header panel-orange">
    <div class="panel-title home-panel-title">
      <i class="glyphicon glyphicon-ok glyphicon-white"></i>
      <%= link_to "Take Quizzes", quiz_events_path %>
      <span class="badge pull-right">
        <%= @dash.events_count %>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <% if @dash.quiz_events.empty? %>
    <p>
      You haven't taken any quizzes yet. Go ahead. Don't be shy. No one else can see your results.
    </p>  
    <p>
      You can save your results and see your progress over time or delete them 
      when you are done with a quiz.
    </p>
    <br/><br/><br/><br/>
    <% else %>
      <%= render 'static_pages/signed_in_home/quiz_event_list' %>
    <% end %>
    <br/>
    <div class="col-md-offset-2">
      <%= link_to search_path, class: "btn btn-std btn-large" do %>
        Browse all Quizzes<i class="glyphicon glyphicon-search glyphicon-white"></i>
      <% end %>
    </div>
  </div>
</div>
