<table class="table table-condensed table-striped">
<% @dash.decks.each do |deck| %>
  <tr>
    <td>
      <%= link_to deck.name, deck_path(deck), class: "index-link" %>
      <span class="pull-right">
        <%= link_to new_deck_event_path(deck_id: deck.id) do %>
          <i class="glyphicon glyphicon-play glyphicon-green"></i>
        <% end %>
      </span>
    </td>
  </tr>
<% end %>  
<% if @dash.remaining_decks_count > 0 %>
  <tr>
    <td>
      <%= link_to \
            "... and #{@dash.remaining_decks_count} more", 
            decks_path, 
            class: "small pull-right" 
      %>
    </td>
  </tr>
<% end %>
</table>
