<table class="table table-condensed">
<% @quizzes.each do |quiz| %>
  <tr>
    <td>
      <%= link_to quiz.name, quiz_path(quiz), class: "index-link" %>
    </td>
  </tr>
<% end %>  
<% if @num_remaining_quizzes > 0 %>
  <tr>
    <td>
      <%= link_to \
            "... and #{@num_remaining_quizzes} more", 
            quizzes_path, 
            class: "small pull-right" 
      %>
    </td>
  </tr>
<% end %>
</table>
