<table class="table table-condensed table-striped">
<% @dash.quizzes.each do |quiz| %>
  <tr>
    <td>
      <%= link_to quiz.name, quiz_path(quiz), class: "index-link" %>
    </td>
  </tr>
<% end %>  
<% if @dash.remaining_quizzes_count > 0 %>
  <tr>
    <td>
      <%= link_to \
            "... and #{@dash.remaining_quizzes_count} more", 
            quizzes_path, 
            class: "small pull-right" 
      %>
    </td>
  </tr>
<% end %>
</table>
