<table class="table table-condensed table-striped">
<% @dash.quiz_events.each do |event| %>
  <tr>
    <td>
      <%= link_to event.quiz.name, quiz_event_path(event), class: "index-link" %>
      <span class="pull-right time-ago">
        <%= time_ago_in_words(event.updated_at) %> ago
      </span>
    </td>
  </tr>
<% end %>  
<% if @dash.num_remaining_events > 0 %>
  <tr>
    <td>
      <%= link_to \
        "... and #{@dash.num_remaining_events} more", 
        quiz_events_path, 
        class: "small pull-right" 
      %>
    </td>
  </tr>
<% end %>
</table>