<div class="home-header">
  <h3><%= link_to "Take Quizzes!", quiz_events_path %></h3>
</div>

<% if @quiz_events.empty? %>
  <p>
    You haven't taken any quizzes yet. Go ahead. Don't be shy. No one else can see your results.
  </p>  
<% else %>
  <p>Here are the quizzes you've taken so far:</p>
  <%= render 'static_pages/signed_in_home/home_quiz_event_list' %>
<% end %>