#deck-filter-options ul, #deck-order-options ul{
  list-style: none;
}
.de-flash-card-side {
  .panel-body {
    background-color: lighten(Gainsboro, 5%);
    overflow: auto;
    min-height: 120px;
    height: 100%;
    text-align: left;
    vertical-align: middle;
  } 
}
.options-section {
  .panel-body {
    background-color: lighten(Gainsboro, 5%);
    height: 140px;
  }
  label {
    font-size: 1em;
    padding-right: 5px;
  }
  select {
    width: 100px;
  }
}
.de-flash-card-side, .options-section {
  .panel-heading {
    background-color: LightSteelBlue;
    font-size: 1.3em;
  } 
}
.deck-event-header {
  padding-top: 10px;
  font-size: 2em;
}
.deck-event-title {
  color: darken(Purple, 0%);
  margin-left: 10px;
}
.deck-event-flash-cards, #flash-card-set-count, .de-flash-card-side {
  display: none;
}
#deck-filter-options li{
  padding-bottom: 5px;
}
.option {
  clear: both;
  input {
    text-align: right;
  }
}
#deck-event-error {
  margin-top: 20px;
}
#flash-card-player {
  display: inline;
}
.options-section h5{
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
#de-finished {
  display: none;
  margin-top: 10px;
  margin-bottom: 30px;
  min-height: 300px;
}
#de-score{
  color: purple;
  margin-top: 50px;
  margin-bottom: 50px;
}
.de-form-actions, .de-form-inputs {
  display: none;
  margin-top: 20px;
}
.scratchpad {
  display: none;
  padding-top: 20px;
  overflow: auto;
  border: 1px solid line black;
}
