@import "custom.css.scss";

.quiz_event_section {
        border: 2px solid rgb(98,98,98);
        padding: 4px;
        margin: 9px 7px;
        background-color: white;
        overflow: auto;
        box-shadow: 4px 6px 8px rgba(0,0,0,.5);
        border-radius: 0px;
}
.quiz_event_section h2 {
        font-size: 22px;
}
.major_section h3 {
        font-size: 14px;
        padding-left: 3px;
}

.quiz_event_section_header {
        margin: 0px;
        padding: 4px;
        width: 100%;
        text-align: center;
        background-color: $well-bg;
        
}





.clear-well {
  border: 3px solid $navbar-default-bg;
}

.answer {
  display: inline;
  width: 80%;
}
.answer-display {
  display: block;
}

.quiz_event_section_header {
  font-size: 2em;
  margin-left: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 1.05;
}

.quiz_event_result_header {
  font-size: 2.5em;
  padding-top: 40px;
  text-align: center;
  color: darken($navbar-default-bg, 20%);
}
.quiz_event_result_body {
  padding-top: 40px;
  font-size: 1.5em;
  text-align: center;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.grade_icon {
  font-size: 2em;
  margin-left: 10px;
}
.question {
  font-weight: 1.05;
}
.answer_checkbox {
  display: block;
  
  .collection_check_boxes, .collection_radio_buttons  {
    margin-left: 5px;
  }
 
}
