// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-display {
  display: block;
  white-space:nowrap;
}
.question_answers_correct, .question_answers__destroy  {
  display: inline-block;
  margin: 5px;
  padding-right: 5px;
  input { display: inline; }
  .checkbox { display: inline; }
 }

