@import "custom.css.scss";

.quiz_event_section {
  font-size: 2em;
  margin-left: 5px;
  padding: 4px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: 1.05;
  background-color: $well-bg;
}
.quiz_event_result_header {
  font-size: 2.5em;
  padding-top: 40px;
  text-align: center;
  color: darken($navbar-default-bg, 20%);
}
.quiz_event_result_body {
  padding-top: 40px;
  font-size: 1.5em;
  text-align: center;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.grade_icon {
  font-size: 2em;
  margin-left: 10px;
}
.question {
  font-weight: 1.05;
}
.answer_checkbox {
  display: block;
  
  .collection_check_boxes, .collection_radio_buttons  {
    margin-left: 5px;
  }
 
}
