<div class="section-header">
  <%= @deck.name %>
  <div class='visible-xs visible-sm'></div>
  <%= link_to "Delete", deck_path(@deck), 
        method: :delete, 
        data: { confirm: 'Are you sure?' }, 
        class: "btn btn-sm btn-danger pull-right" 
  %>
  <%= 
      link_to("Play Flash Cards", 
        new_deck_event_path(deck_id: @deck.id),  
        class: "btn btn-sm btn-success pull-right hide-#{@deck.flash_cards.blank?}",
          id: "play-flash-cards-link") 
  %>
  <%= link_to "Edit", 
        edit_deck_path(@deck), 
        class: "btn btn-sm btn-primary pull-right" 
  %>
</div>