<ul class="breadcrumb">
  <li><%= link_to "My Flash Decks", decks_path %></li>
  <li class="active">New Flash Deck</li>
</ul>

<div class="well">
  <div class="section-header">
    New Flash Deck
    <hr/>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <%= render 'form' %>
    </div>
  </div>
</div>