<ul class="breadcrumb">
  <li><%= link_to "My Flash Decks", decks_path %></li>
  <li class="actice">Show Flash Deck</li>
</ul>

<div class="well">
  <%= render 'deck_header' %>
  <%= render partial: 'deck_fields', locals: { quiz: @deck } %> 
</div>  


<div class="row well">
  <%= render 'flash_cards/flash_cards_index' %>
</div>