<div  class="collapse navbar-collapse nav-centered" 
      id="bs-example-navbar-collapse-1">
  
  <ul class="nav navbar-nav">
    <li>
      <%= link_to root_path do %>
        Home<i class="glyphicon glyphicon-home"></i>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <%= render '/layouts/user_signed_in_nav' %>
    <% else %>
      <li>
        <%= link_to new_user_session_path do %>
          Sign in<i class="glyphicon glyphicon-log-in"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p class="navbar-text pull-right small"><%= "Signed in as #{current_user.email}" if current_user %></p>
 
</div>