<div  class="collapse navbar-collapse nav-centered" 
      id="navbar-collapse-1">
  
  <ul class="nav navbar-nav">
    <li>
      <%= link_to root_path do %>
        Home<i class="glyphicon glyphicon-home"></i>
      <% end %>
    </li>

    <% if user_signed_in?  %>
      <%= render '/layouts/user_signed_in_nav' %>
    <% else %>
      <li>
        <%= link_to 'Sign in<i class="glyphicon glyphicon-log-in"></i>'.html_safe, 
            new_user_session_path 
        %>
      </li>
    <% end %>  
  </ul>

  <div class="navbar-text visible-md visible-lg pull-right user-email">
    <%= "Signed in as #{current_user.email}" if current_user %>
  </div>
 
</div>

