 <footer class="footer">
  <nav>
    &copy; <%= link_to "sharon modiz", about_path %> | all rights reserved 
    <ul>
      <li>
        <%= link_to about_path do %>
          About
        <% end %>  
      </li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul> 
  </nav>
</footer>