 <footer class="footer">
  <nav>
    &copy; sharon modiz | all rights reserved 
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul> 
  </nav>
</footer>