<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar_group">
        <%= render 'layouts/navbar_header' %>
        <%= render 'layouts/collapsable_nav'  %>  
      </div>
    </div>
  </div>
</nav>